{% load static i18n %}

<div id="{{ id }}" class="{{ classes }}">
    <a class="cursor-gravatar" href="http://gravatar.com/emails/" title="{% trans 'Change your avatar with Gravatar.com !' %}" target="_blank">
        <img src="{% get_static_prefix %}images/comment-avatar.png" alt="{% trans 'My Avatar' %}" class="form-comment-avatar">
    </a>
    <div class="form-comment-fake-input">
        <div class="ui-postform-time">00:00:00</div>

        <div class="form-comment-fake-input-holder">
            <textarea id="timeline-user-comment" rows="3" cols="5" placeholder="" maxlength="250"></textarea>

            <input type="hidden" class="ui-postform-currenttime">

            <div class="form-comment-fake-input-placeholder">{% trans "What do you hear ?" %}</div>

            <button type="button" class="close-comment-box">{% trans "erase" %}</button>
        </div>

        <span class="ui-postform-input-numChar">250</span>

        <span class="timeline_service_icons">
            <a href="javascript:void(0)" title="{% trans 'share this on Facebook' %}" alt="Facebook" class="service_icon" id="ui-postform-share-facebook" data-original-title="Facebook">facebook</a>
            <a href="javascript:void(0)" title="{% trans 'share this on Twitter' %}" alt="Twitter" class="service_icon" id="ui-postform-share-twitter" data-original-title="Twitter">twitter</a>
        </span>

    </div>
    <button type="button" class="ui-postform-submit">{% trans 'Post' %}</button>
</div>
