{% load i18n static activitybar %}
<div id="videotag" class="videoticker-comments player-aside-box-tab">
    <div id="videoticker-block" class="bg-gradiant">
        {% activitybar_timeline "videoticker-timeline" 20 "videoticker-timeline-wrapper" %}
        {% activitybar_playhead "videoticker-timer" "" %}
    </div>
    <div class="videoticker-pause">
        <img class="videoticker-pause-picture" src="{% get_static_prefix %}images/pause.png">
    </div>
    <div id="video-comments" class="nano video-comments-w-filters">
        <div id="{{ id }}" class="{{ classes }}"></div><!-- /#videotagticker -->
    </div><!-- /#video-comments -->
    <div class="video-comments-filters">
        <ul class="selected-hashtags-list selected-list"></ul>
        <ul class="selected-users-list selected-list"></ul>
    </div>
</div>
